@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-whisteria: #8e44ad;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  color: $color-whisteria;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  background-image: url(https://images.pexels.com/photos/1309766/pexels-photo-1309766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  text-align: center;
  line-height: 2.0;

}

.posts {
  flex: 5 0 0;
  position: relative;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: none;
  border-radius: 5px;
  opacity: 0.82;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 4px 10px #fff;
  color: $color-light;

}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {

  transition: all 0.3s ease-in;
  position: absolute;
  opacity: 0;
  padding-right: 30px;

  &.active {
    opacity: 1;
    z-index: 11;
  }
}

.post-title {
  font-size: 22px;
  text-align: center;

}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  font-size: 13px;

  p {
    margin: 0 10px 0 0;
  }
}

